<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h3>Boo</h3>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Sản Phẩm</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="/product/add">Create new product</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Hỏi đáp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Liên hệ</a>
          </li>
         
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
<!-- <header>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/product/add">Create new product</a>
    </li>
    
  </header> -->
